.col-md-2 {
  width: 100%;
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  .container__image {
    width: 22rem;
    transition: 1s ease;
    &:hover {
      filter: grayscale(100);
    }
  }
}

.col-md-10 {
  display: flex;
  justify-content: center;
}
.input-group {
  margin-top: 2rem;
  margin-left: 8.25rem;
  > input {
    border-right: none;
    border-color: rgba(0, 0, 0, 0.425);
  }

  .btn {
    border-radius: 0;
    border-left: 0rem;
    border-color: rgba(0, 0, 0, 0.425);
    background-color: white;
    margin-right: 2rem;
    transition: 0.5s ease;
    &:hover {
      color: black;
    }
  }
}
