.results__wrapper {
  margin-top: 2rem;

  .result {
    margin-top: 2rem;

    > .title {
      text-decoration: none;
    }
  }
}

.fa {
  font-size: 1rem;
  color: rgb(75, 198, 157);
}

.pagination {
  > button {
    padding: 0.5rem;
    margin-right: 1rem;
  }
  padding: 1rem;
}

.resultsCount {
  margin-left: 1rem;
}

.result {
  padding: 1rem;
}
